<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="base_link"/>

  <link name="imu"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="gnss"/>
  <joint name="gnss_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gnss"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="livox"/>
  <joint name="livox_joint" type="fixed">
    <parent link="base_link"/>
    <child link="livox"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> 

  <link name="velodyne"/>
  <joint name="velodyne_joint" type="fixed">
    <parent link="base_link"/>
    <child link="velodyne"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

    <link name="ouster"/>
  <joint name="ouster_joint" type="fixed">
    <parent link="base_link"/>
    <child link="ouster"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> 
</robot>
